name: DevOps CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Show system info
      run: |
        uname -a
        whoami

    - name: Run basic test
      run: |
        echo "CI pipeline is running"
        echo "No local machine involved"
